In [ ]:
import sqlite3

# SQLite DB 연결
conn = sqlite3.connect("C:\\Users\\hyunsik.hwang.ROOT_MILLIMAN\\Downloads\\SQLiteStudio\\test")
 
# Connection 으로부터 Cursor 생성
cur = conn.cursor()
 
# SQL 쿼리 실행
cur.execute("select * from tbasb8001")
 
# 데이타 Fetch
rows = cur.fetchall()
for row in rows:
    print(row)
 
# Connection 닫기
conn.close()

In [ ]:
import sqlite3, os

in_memory = sqlite3.connect(':memory:')
c = in_memory.cursor()
c.execute("CREATE TABLE temp (PLICD TEXT NOT NULL)")
c.execute("insert into temp values ('10000')")
c.execute('select * from temp')
result = c.fetchall()
print(result)
in_memory.commit()

#con = sqlite3.connect('C:\\Users\\hyunsik.hwang.ROOT_MILLIMAN\\Downloads\\SQLiteStudio\\test"')
#con.execute('drop table stocks')
#for line in in_memory.iterdump():
#    con.execute(line)

In [24]:
import time
import sqlite3

start_time = time.time()

new_db = sqlite3.connect(':memory:') # create a memory database

old_db = sqlite3.connect('C:\\Users\\hyunsik.hwang.ROOT_MILLIMAN\\Downloads\\SQLiteStudio\\test')

query = "".join(line for line in old_db.iterdump())

name_table = "tbasb8001"  # name of the table that you want to get.

for line in old_db.iterdump():
    if name_table in line:
        query = line
        break

# Dump old database in the new one. 
new_db.executescript(query)

c = new_db.cursor()

c.execute('select plicd from tbasb8001')
result = c.fetchone()
print(result)
print("--- %s seconds ---" % (time.time() - start_time))

('10000',)
--- 1.2660033702850342 seconds ---